<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Reminders</title>
    <script src="https://kit.fontawesome.com/6c181a56ab.js" crossorigin="anonymous"></script>
    <%- include("imageAPI", {apiKey})%>
  </head>

  <body>

    <div id="wrapper">   
      <div class="dateAndTimeContainer">
      <p class ="time">
        <script>
          document.write(new Date().toLocaleTimeString([], 
          { hour: '2-digit', minute: '2-digit' }));
      </script>
      </p>
      <p class= "date">
        <script> 
           document.write(new Date().toDateString()); 
        </script>
      </p>
    </div>

    <h1>Hello, whats on your mind today?</h1>
    <%- include("addNewTodo")%>

    <% if (sorted === 1) { %>
      <button class="sortButton" id="sortButton">Sort starting latest created</button>
      <% } else { %>
      <button class="sortButton" id="sortButton">Sort starting first created</button>
      <% } %>

      <script>
        const toggleSort = () => {
          let newSortOrder = <% if (sorted === 1) { %> <%=-1%><% } else { %><%=1%><% } %>
          window.location.href = `/?page=<%=(actualItemsShown/numberOfItemsShownPerPage)%>&sorted=${newSortOrder}`;
        }
        button = document.getElementById('sortButton');
        button.addEventListener("click", toggleSort);
      </script>

    <div class="allItems">
    <% for (let i=0; i < data.length; i++){%>
    <div class="itemContainer">
      <div class="itemLinks">
        <a href="/edit/<%=data[i]._id%>" class="editButton">
         <i class="far fa-edit"></i>
       </a>
        <a href="/delete/<%=data[i]._id%>" class="deleteButton">
         <i class="far fa-trash-alt"></i>
       </a>
      </div>
      <%= data[i].name %>
    </div>

    <%}%> <% if(totalNumberOfPages !== actualItemsShown /
    numberOfItemsShownPerPage) {%>
      <a href="/?page=<%=(actualItemsShown/numberOfItemsShownPerPage)+1%>" class="page">
      Show more</a>
    <%} else {%>
      <a href="/?page=1" class="page">Show less</a>
    <%}%>

 </div>
</body>
</html>
